@font-face {
  font-family: 'Neue Haas Unica-Light';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/NeueHaasUnica-Light.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
